@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Sarabun', sans-serif;
}

html,
body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}

#app {
  display: flex;
  position: relative;
  height: 100%;
}
